.container-contact
{
    width: 100%;
    height: 100vh;
    background: #252525;
}


.container-contact .contact
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.container-contact .contact 
.contact-image
{
    margin-right: 50px;
}


.container-contact .contact 
.contact-image img
{
    width: 318px ;
    
}


.container-contact .contact 
.contact-section 
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.container-contact .contact 
.contact-section .section-title
{
    color: #fff;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 30px;
}

.container-contact .contact 
.contact-section .section-text textarea
{
    width: 650px;
    height: 272px;
    background: #7a7a7a57;
    border-radius: 12px;
    border: none;
    outline: none;
    margin-bottom: 30px;
    color: #fff;
    font-family: "Montserrat";
}


.container-contact .contact 
.contact-section .section-button button
{
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    background: #d9d9d94b;
    border: none;
    padding: 10px 40px;
    border-radius: 12px;
    transition: all ease .1s;
}


.container-contact .contact 
.contact-section .section-button button:hover
{
    font-size: 20px;
    font-weight: 700;
    color: #000;
    background: #fff;
    border: none;
    padding: 10px 40px;
    border-radius: 12px;
}